!!!
%html{ lang: 'en-US' }
  %head
    = csrf_meta_tags
    = stylesheet_link_tag 'application.css'
    %meta{ charset: 'utf-8' }
    %title GrowupCourses
  %body.main
    %p.notice
      = notice
    %p.notice
      = alert
    = yield
