!!!
%html{ lang: 'en-US' }
  %head
    = csrf_meta_tags
    = stylesheet_link_tag 'application.css'
    %meta{ charset: 'utf-8' }
    %title GrowupCourses
  %body.main
    - flash.each do |key, value|
      - key = 'danger' if key == 'alert'
      - key = 'success' if key == 'notice'
      %div{class: "text-center alert alert-#{key}"}
        = value
    = yield
