!!!
%html{ lang: 'en-US' }
  %head
    = csrf_meta_tags
    = stylesheet_link_tag 'application.css'
    %meta{ charset: 'utf-8' }
    %title GrowupCourses
  %body.main
    .page-wrapper
      - unless controller.controller_name == "courses"
        .flash-wrapper
          - flash.each do |key, value|
            - key = 'danger' if key == 'alert'
            - key = 'success' if key == 'notice'
            %div{class: "text-center alert alert-#{key}"}
              = value
      = yield
